theme: 
  name: material
  highlightjs: true
  logo: /img/abcdesktop.svg
  favicon: /img/abcdesktop128x128.ico
  hljs_languages:
    - bash
    - yaml
    - javascript
    - python
  features:
    - content.action.edit
    - content.code.copy
plugins:
    - search
    - macros
extra:
  abcdesktop:
    latest_release: !ENV [ABCDESKTOP_LATEST_RELEASE, '4.1.1']
  analytics:
    provider: google
    property: G-TN9YC7J01Z
markdown_extensions:
  - attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
site_name: www.abcdesktop.io
repo_url: https://github.com/abcdesktopio/docs
repo_name: abcdesktopio/docs
site_url: https://www.abcdesktop.io
edit_uri: 'edit/main/opsdocs/docs'
nav:
- About:
    - Open source: about/opensource.md
    - Authors : about/authors.md
    - Licence : about/gnu-gpl-v2.0.md
    - Others related projets: about/otherrelatedprojects.md
- Home: index.md
- Adopters: adopters.md
- Requirements : requirements.md
- Overview: overview.md
- GUI apps on Docker:
   - 'VDI with containers, other related projets': guiappsoddocker.md
   - 'Hands-on with VNC client': '1.0/setup/vnc.md'
   - 'Hands-on with no-VNC HTML5': '1.0/setup/novnc.md'
   - 'Play sound from a container to a web browser': 'about/play_sound_in_docker.md' 
- Architecture: 
   - Overview: 'architecture.md'
   - Core :
     - Nginx: 'core/nginx.md'
     - Pyos: 'core/pyos.md'
     - Mongodb: 'core/mongodb.md'
     - Memcached: 'core/memcached.md'
     - Speedtest: 'core/speedtest.md'
     - User: 'core/ocuser.md'
   - Services :
     - Spawner-service: 'services/spawner-service.md'
     - File-service: 'services/file-service.md'
- Setup guide:
   - Release 3.0 :
     - Notes and Features :  3.0/features.md
     - Requirements : 3.0/setup/requirements.md
     - Install Kubernetes on GNU/Linux : 3.0/setup/k8slinuxinstallation.md
     - Setup Kubernetes for GNU/Linux : 3.0/setup/kubernetesmode.md
     - Setup abcdesktop for Kubernetes : 3.0/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 3.0/setup/kubernetes_abcdesktop_applications.md
     - Setup LoadBalacing service : 3.0/setup/kubernetes_abcdesktop_applications.md
     - Troubleshooting core services: 3.0/setup/troubleshooting_core_services.md
     - Uninstall abcdesktop : 3.0/setup/uninstall_kubernetes.md
     - Kubernetes add-ons :
       - Setup Network policy : setup/kubernetes_networkpolicies.md
       - Setup CIFS Volume : setup/kubernetes_flexvolume.md
   - Release 3.1 :
     - Install Kubernetes on GNU/Linux : 3.1/setup/k8slinuxinstallation.md
     - Setup abcdesktop for Kubernetes : 3.1/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 3.1/setup/kubernetes_abcdesktop_applications.md
     - Troubleshooting core services: 3.1/setup/troubleshooting_core_services.md
     - Uninstall abcdesktop : 3.1/setup/uninstall_kubernetes.md
   - Release 3.2 :
     - Install Kubernetes on GNU/Linux : 3.2/setup/k8slinuxinstallation.md
     - Setup abcdesktop for Kubernetes : 3.2/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 3.2/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 3.2/setup/uninstall_kubernetes.md
   - Release 3.3 :
     - Setup abcdesktop for Kubernetes : 3.3/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 3.3/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 3.3/setup/uninstall_kubernetes.md
   - Release 3.4 :
     - Setup abcdesktop for Kubernetes : 3.4/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 3.4/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 3.4/setup/uninstall_kubernetes.md
   - Release 4.0 :
     - Change log :  4.0/setup/changelog.md
     - Setup abcdesktop for Kubernetes : 4.0/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 4.0/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 4.0/setup/uninstall_kubernetes.md
   - Release 4.1 :
     - Change log :  4.1/setup/changelog.md
     - Setup abcdesktop for Kubernetes : 4.1/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 4.1/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 4.1/setup/uninstall_kubernetes.md
   - Release 4.2 :
     - Change log :  4.2/setup/changelog.md
     - Setup abcdesktop for Kubernetes : 4.2/setup/kubernetes_abcdesktop.md
     - Setup applications for abcdesktop : 4.2/setup/kubernetes_abcdesktop_applications.md
     - Uninstall abcdesktop : 4.2/setup/uninstall_kubernetes.md
   - Release Candidate 4.3 :
      - Change log :  4.3/setup/changelog.md
      - Setup abcdesktop for Kubernetes : 4.3/setup/kubernetes_abcdesktop.md
      - Setup applications for abcdesktop : 4.3/setup/kubernetes_abcdesktop_applications.md
      - Uninstall abcdesktop : 4.3/setup/uninstall_kubernetes.md
- Applications Containers :
  - List of all applications ready to use : applications/list.md
  - Release 3.0 :
    - Application image format : applicationsformat.md
    - Build your own abcdesktop GNU/Linux Image: buildapplicationsgnulinux.md
    - Build your own abcdesktop MsWindows Image: buildapplications.wine.md
    - Build non free applications : common/non-free-applications.md
    - Create a sample application : 3.0/application/createsampleapplication.md
    - Create an application from scratch for troubleshooting: common/3.0/createcontainerisedapplicationdebug.md
    - Run application as a ephemeral container or as a pod: 3.0/application/applicationruntime_ephemeralcontainer_pod.md
- Configuration Guide :
  - Release 3.0 :
    - Edit your configuration file: 3.0/config/editconfig.md
    - Cloud Provider:
        - Configure LoadBalancing service: 3.0/config/cloudprovider.loadbalancing.md
        - Configure Persistent Volumes: 3.0/config/volumes.md
    - Authentification: 
        - config: 3.0/config/authentification.md
        - explicit:
          - Directory services: 3.0/config/authexplicit.md
          - LDAP: 3.0/config/authexplicit-ldap.md
          - Active Directory: 3.0/config/authexplicit-activedirectory.md
        - implicit: 3.0/config/authimplicit.md
        - external: 3.0/config/authexternal.md
        - rules: 3.0/config/authentification-rules.md
    - Pod User: 3.0/config/desktop.pod.md
    - Persistent Volumes: 3.0/config/volumes.md
    - Desktop: 3.0/config/desktop.md
    - Front: 3.0/config/frontjs.md
    - Languages: 3.0/config/language.md
    - Logging: 
      - Logging: 3.0/config/logging.md
      - Syslog: 3.0/config/syslog.md
    - Network Policy:
      -  Network Policy: 3.0/config/networkpolicy.md
    - Controllers:
      - Overview : 3.0/config/controllers.md
      - Manager: 3.0/config/controllers/manager.md
    - WebRTC:
      - Pulseaudio : 3.0/config/webrtc.md
    - Issue tracking:
      - Jira : 3.0/config/jira.md
  - Release 3.1 :
    - Persistent Volumes: 3.1/config/persistentvolumes.md
  - Release 3.2 :
    - Persistent Volumes: 3.2/config/persistentvolumes.md
    - WebRTC: 3.2/config/webrtc.md
  - Release 3.3 :
    - Network Policy : 3.3/config/networkpolicy.md
    - Update and custom frontend image : 'common/3.3/update_frontend_image.md'
  - Release 3.4 :
    - Add a simple application xeyes from scratch : 3.4/config/simplestapplicationxeyes.md
    - Add a simple application xedit from scratch : 3.4/config/simplestapplicationxedit.md
    - Add a simple application microsoft-edge from scratch : 3.4/config/simplestapplicationedge.md
    - Update and custom frontend image : '3.4/config/update_frontend_image.md'
  - Release 4.1:
    - Add external providers for authentification : 4.1/config/add_external_provider.md
  - Release 4.2:
    - Configure a garbage collector : 4.2/config/cronjob.md
    - Configure the network policy : 4.2/config/networkpolicy.md
- Cloud providers :
  - AWS :
    - Install on Amazon AWS with Elastic Kubernetes Service: cloudproviders/aws/aws.md 
  - AZURE : 
    - Install on Microsoft AZURE Kubernetes service: cloudproviders/azure/azure.md
  - DigitalOcean :
    - Install on DigitalOcean Kubernetes cluster: cloudproviders/digitalocean/digitalocean.md
    - Expose the service :
        - Expose using a load balancer: cloudproviders/digitalocean/digitalocean-loadbalancer.md
        - Expose using a nginx ingress controller: cloudproviders/digitalocean/digitalocean-nginx-ingress-controller.md
- Issue : 'https://github.com/abcdesktopio/conf/issues'
- Sessions :
  - FRnOG 42: frnog
- FAQ: faq.md 
- How-to:
   - Release 1.0: 
     - Update and custom frontend image : 'common/1.0/update_frontend_image.md'
     - User data persistence : 'common/1.0/userdatapersistence.md'
     - Use abcdesktop as a bastion : 'common/1.0/abcdesktop.bastion.md'
     - Get a root access inside a container : '1.0/config/sudo-kubernetes.md' 
     - Get all docker application image for abcdesktop : '1.0/setup/retrieve_all_images.md'
     - Bind a specific docker network for an application : common/1.0/docker_macvlan.md
   - Release 3.0:
     - Create an application from scratch for troubleshooting: 'common/3.0/createcontainerisedapplicationdebug.md'
     - Update and custom frontend image : 'common/3.0/update_frontend_image.md'
     - Mount a nfs resource inside a user desktop: common/3.0/mount_nfs_tag.md
     - RFC 2307 multiple groups and user securityContext on pod: common/3.0/multiplegroupsfeature.md
   - Release 3.3:
     - Update and custom frontend image : 'common/3.3/update_frontend_image.md'
   - Debug you own application : common/debug_application.md
   - Define access control for an application : common/acl.md
   - Upload and from files with your desktop : 'common/upload_and_download_files.md'
   - Sync clipboard with Mozilla Firefox : 'common/firefox-extension.md'
   - Disable Mozilla Firefox automatic connections at startup : 'common/disable-firefox-connections.md'
   - Custom default desktop wallpaper : 'common/custom-wallpaper.md'
   - Run Adobe Flash player with Mozilla Firefox-esr : 'common/flash-firefox-esr.md'
   - Test POSIX and System V shared memory: 'common/shm.md'
